@use '@/scss/underscore' as _;

.button {
  display: flex;
  align-items: center;
  padding: _.unit(1) _.unit(2);
  border-radius: 6px;
  border: none;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  user-select: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  gap: _.unit(1);
  font: var(--font-label-2);
  color: var(--color-neutral-variant-30);

  &:hover {
    background-color: var(--color-hover-variant);
  }

  &.active {
    background-color: var(--color-focused-variant);
  }

  .icon {
    width: 20px;
    height: 20px;

    > path {
      fill: var(--color-neutral-variant-50);
    }
  }

  .label {
    font: var(--font-label-2);
  }
}

.dropdown {
  min-width: 120px;
}

.dropdownItem {
  position: relative;
  padding-block: _.unit(2.5);
  padding-inline: _.unit(8) _.unit(4);

  &.selected {
    color: var(--color-text-link);
  }

  .tick {
    position: absolute;
    inset-inline-start: 8px;
    top: 10px;
  }

  .languageTitle {
    font: var(--font-body-2);
  }
}
